.vflex, .hflex {
	display: flex;
}

.vflex {
	flex-flow: column wrap;
}

.hflex {
	flex-flow: row wrap;
}

.mstretch {
	justify-content: stretch;
}

.cstretch {
	align-items: stretch;
}

.mstart {
	justify-content: flex-start;
}

.ccenter {
	align-items: center;
}
